body {
  margin: 0;
  background-color: #f5f5f5;
  font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
}

main {
  width: 70%;
  margin: auto;
  background-color: white;
  font-weight: normal;
}

/*to clear the article and aside's float inside main*/
main:after {
	content: "";
  display: table;
	clear:both;
}

header {
	background-color:  black;
  /*font-family:       "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;*/
  color:             white;
  font-weight:       bold;
  text-align: center;
}
 
header ul,h1 {
	list-style: none;
	display: inline-block;
}

header ul li{
	display: inline-block;
	padding: 20px 15px;
}

header nav img {
	width: 40px;
}

footer {
	background-color: #f2f2f2;
	color: #999;
	font-weight: normal;
}

footer >div {
	display: inline-block;
}

article {
	float: left;
	width: 100%;
	margin-right: -250px;
}

aside {
	float: right;
	width: 250px;
}

article section {
	width: calc(100% - 270px);
}

section h1 {
	margin-bottom: 5px;
}

section h1,a {
	padding: 0 10px;
}
section .title {
	border-bottom: 2px solid red;
}

section .title a:last-of-type {
	float: right;
	margin-top: 25px;
}

section .content ul {
	list-style: none;
}

section .content ul li {
	display: inline-block;
}

section .content ul li img {
	width: 150px;
}

section .content ul li a {
	display: block;
}

.web-play {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: rgb(250, 250, 250);
}
